body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color:#ddd;

  }
  
  
@media only screen and (min-width: 768px) {
  
  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}
}



#nav-style{
  background-color:#ff9999;
  
}
.navigates {
  
  background-color: #ff9999;
}

.navigates a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-size: 17px;
}

.navigates a:hover {
  background-color: #ddd;
  color: black;
}

.navigates a.active {
  background-color: #ff0000;
  color: white;
}
.navigates button {
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-size: 17px;
}
.navigates button:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-menu {
  
  color: #fff;
  background-color: #ff8080;
  
}
.dropdown-menu a:hover {
  background-color: #ddd;
  color: black;
}

.responsive {
 
  color:#f2f2f2;
  opacity: 0.8;
  margin-top: 20px;
  height: 350px;
  width: 100%;
  border-radius: 4px;

  
}

.Breaking{
  color: #fff;
  background-color: #ff0000;
  height: 350px;
  text-align: center;
  padding-top: 150px;
  margin-top: 20px;
  margin-right: 0px;
  border-radius: 4px;
}
.Breaking a:link {
  color:white;
}
.Breaking a:visited {
  color:white;
}
.Breaking a:active {
  color:white;
}
.Breaking a:hover {
  color: #c2c2d6;
}

.header{
  color:#1f1f2e;
  background-color:#c2c2d6 ;
  padding:15px;
  margin-top:15px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
  text-decoration: underline;
  
}
.header a:link {
  color:#e60000;
}
.header a:visited {
  color:#330000;
}
.header a:active {
  color: #4d0000;
}
.header a:hover {
  color:  #ff0000;
}



.news{
  color: #535379;
  background-color: #d1d1e0;
  padding:15px;
  margin:5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border-radius: 4px;
  display: inline-block;
  }
.news-img{
  color:#f2f2f2;
  margin-top: 15px;
  margin-right:2px;
  height: 250px;
  width: 100%;
  border-radius: 4px;

}

.panel-footer{
  margin-top: 15px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#000d1a;
  color: white;
  text-align: center;
}
#hours {
  padding-top: 20px;
  color:#9999ff;
}
#address{
  padding-top: 20px;
  color:#9999ff;
}
.copyright{
  padding-top: 20px;
  color:#9999ff;
}
.table-styl{
  border-style: none;
  width: 60%;
  height: 60%;
  margin-top: 50px;
  margin-left: 30px;
}
.about{
  width: 100%;
  height: 400px;
  background-color:#ffcccc;
  color:#cc0000;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
  margin:50px 10px 10px 10px;

}
.contact{
  width: 100%;
  height: 400px;
  background-color:#ffcccc;
  color:#cc0000;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
  margin-top: 40px;
  padding-top: 40px; 
}
.video{
width: 320px;
height: 240px;

}


 
